{% extends 'portfolio/base.html' %}

{% block content %}
<h1>This is the home page</h1>

{% load static %}

<br>

<img src="{% static 'portfolio/1605599664.jpg' %}">

<br>
<br>
<hr style="width:50%; margin: auto;">

        {% for project in project %}
            <div style="width: 100px; float: left; height: 100px; margin: 10px;">
                <p>{{ project.title }}</p>
                {% if project.url %}
                    <a href="{{ project.url }}" target="_blank">
                        <img alt="Nebula" src="{{ project.image.url }}" width=100 height=100>
                    </a>                    
                {% endif %}
                <p>{{ project.description }}</p>
            </div>
        {% endfor %}

{% endblock %}